# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar carpetas generadas por npm
/node_modules

# Ignorar archivos de configuración local. 
# DESCOMENTAR .env (la línea de abajo), cuando se suba a producción para que lo ignore
# .env

# Ignorar archivos de compilación y archivos generados
/build
/dist
/out

# Ignorar archivos de dependencias específicas de desarrollador
npm-debug.log
yarn-error.log

# Ignorar archivos de configuración de IDE
.idea/
.vscode/

# Ignorar archivos de respaldo
*.bak
*.backup
*.swp

# Ignorar archivos de logs
/logs
*.log
npm-debug.log*

# Ignorar archivos de caché
/.cache
